<% if session[:usercert ]%>
<center>
<h1><%=I18n.t "views.cert.cert_found"%></h1>
</center>
<br />
<p>
<%=I18n.t "views.cert.cert_with_dn"%>:
</p>
<div align="center" style="border: grey solid 1px; padding: 10px; width: 450px">
	<p><%= session[:usercert] %></p>
</div>

<% else %>
<center>
<h1><%=I18n.t "views.cert.no_cert"%> </h1>
</center>
<% end %>