
Για να συνεχίσετε την διαδικασία της αιτήσεως νέου πιστοποιητικού πρέπει
να ακολουθήσετε τον παρακάτω σύνδεσμο με τον browsers σας.

  <%= @confirmation_url %>

Ο σύνδεσμος αυτός δημιουργήθηκε  αυτόματα  κατά  τη διάρκεια  της
εγγραφής  σας  και  είναι  μοναδικός.  Για τις  επόμενες  7  ημέρες  ο
σύνδεσμος θα παραμείνει ενεργός. Σε περίπτωση που ΔΕΝ τον επισκεφθείτε
εντός  αυτού του  χρονικού  διαστήματος, η  εγγραφή  σας θα  διαγραφεί
αυτόματα από το σύστημα του HellasGrid User Registration.