<%=I18n.t "views.registration_mailer.the_user"%> <%= @person.first_name_en + " " + @person.last_name_en  %>, <%= @person.email %>,


<%=I18n.t "views.registration_mailer.has_requested"%> <%=I18n.t "views.registration_mailer.personal_cert"%> <%=I18n.t "views.registration_mailer.to_hellasgrid"%> <%=I18n.t "views.registration_mailer.no_ra"%>

<%=I18n.t "views.registration_mailer.goto_csr"%>:
  <%= @csr_url %>
