<%=I18n.t "views.registration_mailer.the_user"%>:
  	<%=@person.first_name_en + " " + @person.last_name_en %>,<%= @person.email %>

<%=I18n.t "views.registration_mailer.full_details"%>:
https://access.hellasgrid.gr/support/show_person_details/<%=@person.id%>

<%=I18n.t "views.registration_mailer.has_requested_ui_access"%>:
  <%= @ui %>.
