

	          CSR_<%= @person.organization.domain.upcase %>_<%= @person.active_personal_csr.id %>

<%=I18n.t "views.registration_mailer.request_sent"%> <%=I18n.t "views.registration_mailer.no_ra_for_org"%>


<%=I18n.t "views.registration_mailer.new_key_creation"%>:

            <%= @person.active_personal_csr.uniqueid %>

<%=I18n.t "views.registration_mailer.check_req_progress"%>:

  <%= @csr_status_link %>