Αξιότιμε χρήστη,

η αίτησή σας για πρόσβαση στο UI με τα παρακάτω στοιχεία έχει καταχωρηθεί επιτυχώς.

Name: <% if @person.first_name_el.empty? or @person.last_name_el.empty? then %>
  	<%=@person.first_name_en + " " + @person.last_name_en %>
<% else %>
  	<%=@person.first_name_el + " " + @person.last_name_el %>
<% end %>

E-mail: <%= @person.email %>



Μέσα στις επόμενες ημέρες θα λάβετε τα στοιχεία πρόσβασης στο UI μέσω e-mail.

Με εκτίμηση,
Hellasgrid Support Team