Υπάρχουν οι παρακάτω αιτήσεις που είναι σε αναμονή ενώ ο χρήστης έχει περάσει από την Α.Τ. πρόσφατα και έχει ταυτοποιηθεί από το σύστημα με χρήση του ψηφιακού πιστοποιητικού του.

  <%= @pending_requests %>
