<%=I18n.t "views.registration_mailer.signed_cert_notification"%>:

 <%= @get_cert_link %>

 <%=I18n.t "views.registration_mailer.cert_details"%>:

          Subject DN: <%= @crt.subject_dn %>
        Εκδούσα Αρχή: HellasGrid CA
  Ημερομηνία έκδοσης: <%= X509Certificate::CertificateReader.new(@crt.body).certificate[:IssueDate] %>
<%= @altnames %>
        Έγκυρο μέχρι: <%= X509Certificate::CertificateReader.new(@crt.body).certificate[:ExpirationDate]%>