

	          CSR_<%= @person.organization.domain.upcase %>_<%= @person.active_personal_csr.id %>

Μπορείτε να παρακολουθείτε την κατάσταση της αιτήσεώς σας μέσω του web
στη διεύθυνση:

  <%= @csr_status_link %>

Για κάθε αίτηση  που αποστέλλεται στην Α.Π.,  δημιουργείται ένα τυχαίο
κλειδί με το οποίο έχει κανείς  πρόσβαση στα στοιχεία της αιτήσεως. Το
κλειδί για την δική σας αίτηση είναι:

            <%= @person.active_personal_csr.uniqueid %>