Υπάρχει μια αίτηση πιστοποιητικού επιβεβαιωμένη και έτοιμη για υπογραφή.

Η αίτηση είναι για την οντότητα:
<%= 
if @csr.owner_type == "Person"
	@csr.owner.email
else
  @fqdn
end
 %>

Μπορείτε δείτε την αίτηση στην διεύθυνση:
  <%= @csr_url %>
