<%=I18n.t "views.registration_mailer.one_cert_req_to_sign"%>

<%=I18n.t "views.registration_mailer.req_for"%>
<%= 
if @csr.owner_type == "Person"
	@csr.owner.email
else
  @fqdn
end
 %>

<%=I18n.t "views.registration_mailer.goto_csr"%>:
  <%= @csr_url %>
