<h1 class="entry-title">Αρχή Πιστοποίησης HellasGrid</h1>
					
					<div class="entry-content">
						<p>Το Κέντρο Επιστημονικών Υπολογιστικών Υπηρεσιών Α.Π.Θ. είναι υπεύθυνο για τη διαχείριση και λειτουργία της <strong>εθνικής Αρχής Πιστοποίησης HellasGrid CA</strong> στα πλαίσια της Εθνικής Δράσης Πλεγματικής Υποδομής την οποία συντονίζει η ΕΔΕΤ Α.Ε.</p>
<p>Η λειτουργία της Α.Π. ξεκίνησε το 2002 με σκοπό την εξυπηρέτηση των Ελλήνων χρηστών των πλεγματικών υποδομών και από τότε ως σήμερα αποτελεί την εθνική Αρχή Πιστοποίησης, η οποία είναι αναγνωρισμένη από την διεθνή ομοσπονδία <strong>International Grid Trust Federation(IGTF)</strong> και ως εκ τούτου τα ψηφιακά πιστοποιητικά που εκδίδει είναι αναγνωρισμένα από όλες τις διεθνείς ερευνητικές υπολογιστικές υποδομές που υποστηρίζουν το <a href="http://www.igtf.net/" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://www.igtf.net']);">IGTF</a>.</p>
<p>Για την καλύτερη εξυπηρέτηση των Ελλήνων χρηστών έχει δημιουργηθεί ένα δίκτυο από <strong>Αρχές Ταυτοποίησης</strong> σε Πανεπιστημιακά Ιδρύματα και Ινστιτούτα οι οποίες καλύπτουν άμεσα τις ανάγκες του μεγαλύτερου ποσοστού των χρηστών. Στον πίνακα και στον χάρτη που ακολουθούν μπορείτε να βρείτε όλες τις εν ενεργεία Α.Τ.</p>

<table id="ca_table">
<thead>
	<tr class="ca_row">
		<th class="ca_column">Αρχή Ταυτοποίησης</th><th class="column-2">Πόλη</th><th class="column-3">Υπεύθυνος (Email)</th><th class="column-4">Χειριστής (Email)</th><th class="column-5">Διεύθυνση</th><th class="column-6">Τηλέφωνο</th>
	</tr>
</thead>
<tbody>
	<tr class="ca_row">
		<td class="ca_column">Ακαδημία Αθηνών</td><td class="column-2">Αθήνα</td><td class="column-3">Εύη Ζαφιράκου (ezaf at academyofathens.gr)</td><td class="column-4"></td><td class="column-5"></td><td class="column-6">2103664795</td>
	</tr>
	<tr class="ca_row">
		<td class="ca_column">Αριστοτέλειο Πανεπιστήμιο Θεσ/νίκης (ΑΠΘ)</td><td class="column-2">Θεσ/νίκη</td><td class="column-3">Πασχάλης Κορόσογλου (hg-auth-ra at grid.auth.gr)</td><td class="column-4"></td><td class="column-5"> Γραφείο Εξυπηρέτησης Χρηστών, <br />
Προθάλαμος Φοιτητικού Αναγνωστηρίου Κεντρικής Βιβλιοθήκης, Πανεπιστημιούπολη ΑΠΘ</td><td class="column-6">2310998988</td>
	</tr>
	<tr class="ca_row">
		<td class="ca_column">Εθνικό Ίδρυμα Ερευνών (ΕΙΕ)</td><td class="column-2">Αθήνα</td><td class="column-3">Heribert Reis (hreis at eie.gr)</td><td class="column-4"></td><td class="column-5">Γραφείο 408</td><td class="column-6">2107273894</td>
	</tr>
	<tr class="ca_row">
		<td class="ca_column">Εθνικό Δίκτυο Έρευνας και Τεχνολογίας (ΕΔΕΤ)</td><td class="column-2">Αθήνα</td><td class="column-3">Ιωάννης Λιαμπότης (iliaboti at grnet.gr)</td><td class="column-4"></td><td class="column-5"></td><td class="column-6">2107474248</td>
	</tr>
	<tr class="ca_row">
		<td class="ca_column">Εθνικό Κέντρο Έρευνας Φυσικών Επιστημών ΔΗΜΟΚΡΙΤΟΣ</td><td class="column-2"></td><td class="column-3">Χρήστος Μάρκου (cmarkou at inp.demokritos.gr)</td><td class="column-4">Χρήστος Φιλιππίδης (filippidhs.christos at inp.demokritos.gr)</td><td class="column-5"></td><td class="column-6">2106503425</td>
	</tr>
	<tr class="ca_row">
		<td class="ca_column">Εθνικό Κέντρο Έρευνας και Τεχνολογικής Ανάπτυξης (ΕΚΕΤΑ)</td><td class="column-2">Θέρμη, Θεσ/νίκη</td><td class="column-3">Ιωάννης Χαλινίδης (ivchal at certh.gr)</td><td class="column-4"></td><td class="column-5"></td><td class="column-6">2310498133</td>
	</tr>
	<tr class="ca_row">
		<td class="ca_column">Εθνικό Μετσόβειο Πολυτεχνείο (ΕΜΠ)</td><td class="column-2">Ζωγράφου, Αθήνα</td><td class="column-3">Νεκτάριος Κοζύρης (nkoziris at cslab.ece.ntua.gr)</td><td class="column-4">Αντώνης Ζήσσιμος (azisi at cslab.ntua.gr), Ελίζα Αγγελίδη (eliza at cslab.ece.ntua.gr)</td><td class="column-5">Κτήριο Ηλεκτρολόγων Μηχανικών και Μηχανικών Η/Υ, 2ος όροφος, Γραφείο 21.34β</td><td class="column-6"></td>
	</tr>
	<tr class="ca_row">
		<td class="ca_column">Εθνικό και Καποδιστριακό Πανεπιστήμιο Αθηνών (ΕΚΠΑ)</td><td class="column-2">Αθήνα</td><td class="column-3">Νικόλαος Βουτσινάς (contact at gridctb.uoa.gr)</td><td class="column-4">Κων/νος Κουκόπουλος (contact at gridctb.uoa.gr)</td><td class="column-5"></td><td class="column-6">2107275404</td>
	</tr>
	<tr class="ca_row">
		<td class="ca_column">Ινστιτούτο Επιταχυστικών Συστημάτων και Εφαρμογών (ΙΕΣΕ)</td><td class="column-2">Αθήνα</td><td class="column-3">Μάριος Χατζηαγγέλου (ra-manager at iasa.gr)</td><td class="column-4"></td><td class="column-5"></td><td class="column-6"></td>
	</tr>
	<tr class="ca_row">
		<td class="ca_column">Ίδρυμα Τεχνολογίας και Έρευνας (ΙΤΕ)</td><td class="column-2">Ηράκλειο</td><td class="column-3">Χρήστος Παπαχρήστος (cpapachr at ics.forth.gr)</td><td class="column-4"></td><td class="column-5"></td><td class="column-6"></td>
	</tr>
	<tr class="ca_row">
		<td class="ca_column">Ινστιτούτο Τεχνολογίας Υπολογιστών και Εκδόσεων «Διόφαντος» (ΙΤΥΕ)</td><td class="column-2">Πάτρα</td><td class="column-3">Μάνος Βαρβαρίγος (manos at ceid.upatras.gr)</td><td class="column-4">Βασίλειος Γκάμας (vgkamas at cti.gr), Καλλιόπη Γιαννακοπούλου (gianakok at ceid.upatras.gr)</td><td class="column-5">Κτήριο Δ. Μαρίτσα, Οδός Ν. Καζαντζάκη, Παν. Πάτρας, Ρίο</td><td class="column-6">2610960408</td>
	</tr>
	<tr class="ca_row">
		<td class="ca_column">Πανεπιστήμιο Αιγαίου (Λέσβος)</td><td class="column-2">Μυτηλίνη, Λέσβος</td><td class="column-3">Χρήστος-Νικόλαος Αναγνωστόπουλος (canag at ct.aegean.gr)</td><td class="column-4"></td><td class="column-5">Cultural Technology and Communication Dpt., Mytilene, Lesvos, GR-81 100</td><td class="column-6">2251036624</td>
	</tr>
	<tr class="ca_row">
		<td class="ca_column">Πανεπιστήμιο Αιγαίου (Σάμος)</td><td class="column-2">Καρλόβασι, Σάμος</td><td class="column-3">Δημοσθένης Βουγιούκας (dvouyiou at aegean.gr)</td><td class="column-4"></td><td class="column-5">Dept. of Information and Communication Systems Engineering, Karlovassi, Samos, 83200</td><td class="column-6">2273082270</td>
	</tr>
	<tr class="ca_row">
		<td class="ca_column">Πανεπιστήμιο Δυτικής Μακεδονίας</td><td class="column-2"></td><td class="column-3">Παναγιώτης Βουτσκίδης (pvoutskidis at uowm.gr)</td><td class="column-4"></td><td class="column-5"></td><td class="column-6">2461056265</td>
	</tr>
	<tr class="ca_row">
		<td class="ca_column">Πανεπιστήμιο Θεσσαλίας</td><td class="column-2">Λάρισα</td><td class="column-3">Δημήτρης Ζησιάδης (dimitris at uth.gr)</td><td class="column-4"></td><td class="column-5">Τμήμα Μηχανικών Ηλεκτρονικών Υπολογ. Τηλεπικοινωνιών και Δικτύων, Γκλαβάνη 37 &amp; 28ης Οκτωβρίου \n38221, Βόλος</td><td class="column-6">2421074977</td>
	</tr>
	<tr class="ca_row">
		<td class="ca_column">Πανεπιστήμιο Ιωαννίνων</td><td class="column-2">Ιωάννινα</td><td class="column-3">Ιωάννης Παπαδόπουλος (pyannis at uoi.gr)</td><td class="column-4"></td><td class="column-5">Τμήμα Φυσικής (Φ3-303)</td><td class="column-6"></td>
	</tr>
	<tr class="ca_row">
		<td class="ca_column">Πανεπιστήμιο Μακεδονίας</td><td class="column-2">Θεσ/νίκη</td><td class="column-3">Κων/νος Μαργαρίτης (kmarg at uom.gr)</td><td class="column-4">Θεόδωρος Τύπου (typou at uom.gr)</td><td class="column-5"></td><td class="column-6"></td>
	</tr>
	<tr class="ca_row">
		<td class="ca_column">Πανεπιστήμιο Πάτρας</td><td class="column-2">Πάτρα</td><td class="column-3">Γιώργος Θωμόπουλος (gthomop at ece.upatras.gr)</td><td class="column-4"></td><td class="column-5"></td><td class="column-6"></td>
	</tr>
	<tr class="ca_row">
		<td class="ca_column">Πανεπιστήμιο Πειραιά</td><td class="column-2">Πειραιάς</td><td class="column-3">Δημήτρης Βέργαδος (vergados at unipi.gr)</td><td class="column-4">Αλέξανδρος Βίχος (alexandros at students.cs.unipi.gr)</td><td class="column-5"></td><td class="column-6"></td>
	</tr>
	<tr class="ca_row">
		<td class="ca_column">Πανεπιστήμιο Πελοποννήσου</td><td class="column-2">Τρίπολη</td><td class="column-3">Κώστας Βασιλάκης (hellasgrid-ra at uop.gr)</td><td class="column-4"></td><td class="column-5">Τμήμα Επιστήμης και Τεχνολογίας Υπολογιστών, Γραφείο Α7</td><td class="column-6">2710372203</td>
	</tr>
	<tr class="ca_row">
		<td class="ca_column">Πανεπιστήμιο Στερεάς Ελλάδας</td><td class="column-2">Λαμία</td><td class="column-3">Ηλίας Μαγκλογιάννης (imaglo at ucg.gr)</td><td class="column-4"></td><td class="column-5">Παπασιοπούλου 2-4,  35100 Λαμία</td><td class="column-6">2231066931</td>
	</tr>
	<tr class="ca_row">
		<td class="ca_column">Τεχνολογικό Εκπαιδευτικό Ίδρυμα Κοζάνης</td><td class="column-2">Καστοριά</td><td class="column-3">Άγγελος Μιχαλάς (amichalas at kastoria.teikoz.gr)</td><td class="column-4"></td><td class="column-5">Τμήμα Πληροφορικής και Επιστήμης Υπολογιστών, Περιοχή Φούρκα, Καστοριά</td><td class="column-6">2467087260</td>
	</tr>
	<tr class="ca_row">
		<td class="ca_column">Χαροκόπειο Πανεπιστήμιο</td><td class="column-2"></td><td class="column-3">Βασίλειος Δαλάκας (vdalakas at hua.gr)</td><td class="column-4"></td><td class="column-5"></td><td class="column-6">2109549341</td>
	</tr>
	<tr class="ca_row">
		<td class="ca_column">Athens Information Technology (AIT)</td><td class="column-2">Παιανία, Αθήνα</td><td class="column-3">Αντώνης Αντωνόπουλος (antp at ait.edu.gr)</td><td class="column-4"></td><td class="column-5">Κτήριο B7, 3ος όροφος</td><td class="column-6"></td>
	</tr>
	<tr class="ca_row">
		<td class="ca_column">ΤΕΙ Κρήτης, Παράρτημα Χανίων</td><td class="column-2">Χανιά</td><td class="column-3">Ιωάννης Μπαρμπουνάκης (i.barbounakis at chania.teicrete.gr)</td><td class="column-4"></td><td class="column-5">Ρωμανού 3, Χαλέπα, Χανιά, Τ.Θ. 89, ΚΔΣ Χανίων, Αναπαύσεως 10, 73135 Χανιά</td><td class="column-6">2821023077</td>
	</tr>
	<tr class="ca_row">
		<td class="ca_column">ΤΕΙ Ανατολικής Μακεδονίας Θράκης</td><td class="column-2">Καβάλα</td><td class="column-3">Χαρίλαος Μίζας (mizas at teiemt.gr)</td><td class="column-4"></td><td class="column-5">Κτήριο Φ1, Ισόγειο, Γραφείο τμήματος Πληροφορικής</td><td class="column-6">2510462181</td>
	</tr>
</tbody>
</table>

<p>Μπορείτε να εντοπίσετε <a style="color: #0000ff; text-align: left;" href="http://maps.google.com/maps/ms?oe=utf-8&amp;client=firefox-a&amp;ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=202414432969534691275.0004998205f7347ab0dad&amp;ll=41.19519,23.774414&amp;spn=5.328308,5.868104&amp;t=h&amp;source=embed" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://maps.google.com']);">στο χάρτη</a> την Αρχή Ταυτοποίησης που σας εξυπηρετεί.</p>
<p><iframe src="http://maps.google.com/maps/ms?oe=utf-8&amp;client=firefox-a&amp;ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=202414432969534691275.0004998205f7347ab0dad&amp;ll=38.3,24.3&amp;spn=5.328308,5.868104&amp;t=h&amp;output=embed" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" width="510" height="420"></iframe></p>
<p>Σε εκείνες τις περιπτώσεις που στον φορέα στον οποίο εργάζεται ένας χρήστης δεν λειτουργεί Α.Τ., ο χρήστης μπορεί να εξυπηρετηθεί σε μία εκ των catch-all Αρχών Ταυτοποίησης οι οποίες είναι οι εξής:</p>
<ul>
<li><a href="http://maps.google.com/maps/ms?oe=utf-8&amp;client=firefox-a&amp;ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=202414432969534691275.0004998205f7347ab0dad&amp;t=h&amp;source=embed&amp;ll=37.9872,23.765745&amp;spn=0.005336,0.010343&amp;z=17&amp;iwloc=0004998234280635a4b60" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://maps.google.com']);">ΕΔΕΤ Α.Ε. (Αθήνα)</a></li>
<li><a href="http://maps.google.com/maps/ms?oe=utf-8&amp;client=firefox-a&amp;ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=202414432969534691275.0004998205f7347ab0dad&amp;t=h&amp;source=embed&amp;ll=40.632845,22.959516&amp;spn=0.005138,0.010343&amp;z=17&amp;iwloc=00049b2595bc21a022b52" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://maps.google.com']);">Α.Π.Θ. (Θεσ/νίκη)</a></li>
<li><a href="http://maps.google.com/maps/ms?oe=utf-8&amp;client=firefox-a&amp;ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=202414432969534691275.0004998205f7347ab0dad&amp;t=h&amp;source=embed&amp;ll=38.290484,21.799707&amp;spn=0.005314,0.010343&amp;z=17&amp;iwloc=00049b353099ade3cf9a1" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://maps.google.com']);">CTI-CEID (Πάτρα)</a></li>
<li><a href="http://maps.google.com/maps/ms?oe=utf-8&amp;client=firefox-a&amp;ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=202414432969534691275.0004998205f7347ab0dad&amp;t=h&amp;source=embed&amp;ll=35.306563,25.069771&amp;spn=0.005525,0.010343&amp;z=17&amp;iwloc=00049b3861e84151fba60" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://maps.google.com']);">FORTH (Κρήτη)</a></li>
</ul>
