<!-- <%=I18n.t "views.register."%> -->
<h1><%=I18n.t "views.register.successful_registration"%></h1>
<br />
<p>
	<%=I18n.t "views.register.confirm_address"%>
</p>
<p>
	<%=I18n.t "views.register.sent_mail"%>:
</p>

<div align="center">
	<p>
		<%= @person.email %>
	</p>
</div>
<p>
    <%=I18n.t "views.register.visit_link"%>
</p>