<h1>Επιβεβαίωση ηλεκτρονικής διεύθυνσης</h1>
<br />
<p>
	Πριν προχωρήσετε με την καταχώρηση μιας καινούργιας αίτησης πιστοποιητικού
	είναι απαραίτητο να επιβεβαιώσουμε ότι η διεύθυνση <%= @person.email %>
	σας ανήκει.
</p>
<p>
	Για αυτό τον σκοπό σας έχουμε αποστείλει e-mail
    στο οποίο περιέχεται ο συνδεσμος τον οποίο πρέπει να επισκεφθείτε για να
	συνεχίσετε την διαδικασία.
</p>