<h1><%=I18n.t "views.register.verify_mail"%></h1>
<br />
<p>
	<%=I18n.t "views.register.before_proceeding"%> <%= @person.email %>
	<%=I18n.t "views.register.is_owned"%>
</p>
<p>
	<%=I18n.t "views.register.sent_mail"%>
    <%=I18n.t "views.register.visit_link"%>
</p>