<div style="border: red solid 1px; padding: 10px; width: 450px: text-align: center">
	<p>Η ομάδα διαχείρισης ενημερώθηκε για την προβληματική καταχώρηση.</p>
	<p>Συγνώμη για την ταλαιπωρία </p>
</div>