<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title><%= page_title %></title>
<%= stylesheet_link_tag 'twitter/bootstrap.min' %>
<%= stylesheet_link_tag 'twitter/bootstrap-responsive.min' %>
<%= stylesheet_link_tag 'style' %>
<%= stylesheet_link_tag 'main' %>
<%= stylesheet_link_tag 'page' %>
<%= stylesheet_link_tag 'jquery/dataTables/jquery.dataTables', :media => 'screen, projection' %>
<%= javascript_include_tag 'twitter/bootstrap.min', 'jquery/jquery-1.7.1.min', 'jquery/modules/dataTables/jquery.dataTables.min','jquery/plugins/jquery.dateeusort.js', 'prototype', 'effects', 'scriptaculous' %>

<!--[if lt IE 7.]>
<script defer type="text/javascript" src="/javascripts/pngfix.js"></script>
<![endif]-->
<script type="text/javascript">
// <![CDATA[
	jQuery.noConflict();
// ]]>
</script>
</head>
<body>
<table cellspacing="0" cellpadding="0" align="center" border="0" width="980">
  <tr>
    <td class="color00" align="right">
	
	<span class="pageTopMenu"><%= I18n.t "views.logged_in_as" %>: <%= session[:usercert] %></span>  &nbsp; &nbsp;
  <div class="languages span-24 last" style="text-align:right;height:17px;">
    <ul id="languageMenu" style="margin-top: 2px; margin-bottom: 2px;">
      <li><%=link_to(image_tag("greek_flag.png"), "/el")%></li>
      <li><%=link_to(image_tag("en_flag.png"), "/en")%></li>
    </ul>
  </div>
	</td>
  </tr>
</table>
<table cellspacing="0" cellpadding="0" align="center" border="0" width="980">
  <tr>
    <td><table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
          <td style="background: url(/images/banner-ca-administration.jpg) no-repeat left; " height="157" width="980"></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td class="color00" height="20">
		<span class="pageTopMenu" style="padding-left: 10px">
			<%= webapp_path %>
		</span>
	</td>
  </tr>
  
  
  <tr>
    <td><table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
		  <% if @action != "index" %>
          <td class="leftCol" valign="top" width="200" id="leftColContainer">
			<div class="tabbable tabs-left">
			<ul id="Procedure" class="nav nav-tabs" style="padding: 5px" >
			<li class="leftMenuHead"><%= I18n.t "views.layouts.ca_ra.options"%></li>
			<li class="active"><%= link_to_unless_current "#{I18n.t "views.layouts.ca_ra.identification_pending_list"}", :action => 'list_pending' %></li>
			<li><%= link_to_unless_current "#{I18n.t "views.layouts.ca_ra.signing_pending_list"}", :action => 'list_approved' %></li>
			<li><%= link_to_unless_current "#{I18n.t "views.layouts.ca_ra.rejected_list"}", :action => 'list_rejected' %></li>
			<li><%= link_to_unless_current "#{I18n.t "views.layouts.ca_ra.user_certificate_list"}", :action => 'list_user_certificates' %></li>
			<li><%= link_to_unless_current "#{I18n.t "views.layouts.ca_ra.server_certificate_list"}", :action => 'list_host_certificates' %></li>
			<li><%= link_to_unless_current "#{I18n.t "views.layouts.ca_ra.manage_ra"}", :action => 'manage_ra' %></li>
            </ul>
			</div>
            <div  style="margin-top:5px;color:#505050;text-decoration:none;padding-left:5px;font-weight:bold;">
            <% if @page_info %>
				<%= @page_info %>
			<% end %>
			</div>
          </td>
		  <% end %>
		
          <td class="contentBody" valign="top" width="700" id="contentContainer">
          	<%= @content_for_layout %>
          </td>
        </tr>
      </table></td>
    <td></td>
  </tr>
  <tr>
    <td colspan="2" class="pageFooter">AUTH SCC (HellasGrid User Registration r<%= Config.revision %>)</td>
  </tr>
</table>
<p align="center">
	<%= link_to(image_tag("eu.gif", :style => "vertical-align: middle; border-style: solid; border-width: 2px"),"http://europa.eu.int") %>
	&nbsp;
	<%= link_to(image_tag("ktp.gif", :style => "vertical-align: middle; border-style: solid; border-width: 2px"),"http://www.infosoc.gr") %>
	&nbsp;
	<%= link_to(image_tag("HellasGrid.png", :style => "vertical-align: middle; border-style: solid; border-width: 2px"), "http://www.hellasgrid.gr") %>
</p>
<p align="center">
	<%= link_to(image_tag("grnet.gif", :style => "vertical-align: middle; border-style: solid; border-width: 2px"), "http://www.grnet.gr") %>
</p>
</body>
</html>