<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title><%= page_title %></title>
<%= stylesheet_link_tag 'style' %>
<%= stylesheet_link_tag 'main' %>
<%= stylesheet_link_tag 'page' %>
<!--[if lt IE 7.]>
<script defer type="text/javascript" src="/javascripts/pngfix.js"></script>
<![endif]-->
<script type="text/javascript">
	function jsSelectKeystore() {
		document.getElementById("myproxy").jsComm("SelectKeystore");
	}
	function jsSelectCertificate() {
		document.getElementById("myproxy").jsComm("SelectCertificate");
	}
	function jsMyProxyInfo() {
		document.getElementById("myproxy").jsComm("MyProxyInfo");
	}
	function jsMyProxyInit() {
		document.getElementById("myproxy").jsComm("MyProxyInit");
	}
	function jsSaveLocalProxy() {
		document.getElementById("myproxy").jsComm("SaveLocalProxy");
	}

	function OnLoad() {
		setInterval("ReNewFields()", 1000);
	}

	function ReNewFields ()	{
	  document.getElementById("SelectedKeystore").value = document.getElementById("myproxy").selectedKeystore;
	  document.getElementById("SelectedCertificate").value = document.getElementById("myproxy").selectedCertificate;
	}
	
</script>
</head>
<body onLoad="javascript:OnLoad()">
<table cellspacing="0" cellpadding="0" align="center" border="0" width="980">

  <tr>
    <td class="color00" align="right">
	
	<span class="pageTopMenu"><% if session[:usercert] %> Logged in as: <%=  session[:usercert] %><% else %>Not Logged In<% end %></span>  &nbsp; &nbsp;
  <div class="languages span-24 last" style="text-align:right;height:17px;">
    <ul id="languageMenu" style="margin-top: 2px; margin-bottom: 2px;">
      <li><%=link_to(image_tag("greek_flag.png"), "/el")%></li>
      <li><%=link_to(image_tag("en_flag.png"), "/en")%></li>
    </ul>
  </div>
	</td>
  </tr>
</table>
<table cellspacing="0" cellpadding="0" align="center" border="0" width="980">
  <tr>
    <td><table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
          <td style="background: url(/images/banner-account-management.jpg) no-repeat left; " height="157" width="980"></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td class="color00" height="20">
	<span class="pageTopMenu" style="padding-left: 10px">
		<%= webapp_path %>
	</span>
	</td>
  </tr>

  <tr>
    <td><table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
          <td class="leftCol" valign="top" width="200" id="leftColContainer" style="padding: 1px">
						<ul id="Procedure" style="padding: 5px">
							<li class="leftMenuHead"><%=I18n.t "views.layouts.myproxy.menu"%></li>
							<li><%= link_to_unless_current "#{I18n.t "views.layouts.myproxy.create_register_myproxy_certificate"}", :action => "create_myproxy" %></li>
							<li><%= link_to_unless_current "#{I18n.t "views.layouts.myproxy.view_myproxy_certificate_info"}", :action => "myproxy_info" %></li>
							<li><%= link_to "SSH #{I18n.t "views.layouts.myproxy.access"}", "/gsissh/jws.jnlp" %></li>
            	<br /><br /><br /><br />
							<li class="leftMenuHead"><%=I18n.t "views.contact"%></li>
							<li><%= mail_to "support@grid.auth.gr", "GridAUTH Support", :encode => "javascript" %></li>
						</ul>
            <div  style="margin-top:5px;color:#505050;text-decoration:none;padding-left:5px;font-weight:bold;">
            	<% if @page_info %>
							<%= @page_info %>
							<% end %>
						</div>
          </td>
          <td class="contentBody" valign="top" width="450" id="contentContainer">
          	<%= @content_for_layout %>
          </td>
          <td width="250" class="contentBody" valign="top" id="leftBox">
			<% if params[:controller] == "register" && params[:action] == "registration_form" %>
			<fieldset style="width: 230px; padding-left: 5px; padding-right: 1px;">
				<legend><%=I18n.t "views.layouts.common.registered_users"%></legend>
				<p style="padding-right: 20px; text-align: left;">
					<%=I18n.t "views.layouts.common.registered_users_text"%>
				</p>	
				<% form_tag :action=> "load_session" do %>
					<div align="left" style="padding-right: 20px">
					<label  for="person_email"><div style="text-align: left;"><%=I18n.t "views.layouts.common.search"%> E-mail</div></label>
					<%= text_field(:person, :email, :class => "textbox", :size => "20") %>
					</div>
					<input type="submit" value="<%= I18n.t "views.search"%>" class="textbox" />
				</p>
				<% end %>
			</fieldset>
			<br />
			<% else %>
			&nbsp;
			<% end %>
			
		  </td>
        </tr>
       <!-- <tr>
          <td width="200"><img height="1" width="200" src="style/spacer.gif"></td>
          <td width="630"><img height="1" width="422" src="style/spacer.gif"></td>
        </tr>
		-->
      </table></td>
    <td></td>
  </tr>
  <tr>
    <td colspan="2" class="pageFooter">GridAUTH (HellasGrid User Registration r<%= Config.revision %>)</td>
  </tr>
</table>
<p align="center">
	<%= link_to(image_tag("eu.gif", :style => "vertical-align: middle; border-style: solid; border-width: 2px"),"http://europa.eu.int") %>
	&nbsp;
	<%= link_to(image_tag("ktp.gif", :style => "vertical-align: middle; border-style: solid; border-width: 2px"),"http://www.infosoc.gr") %>
	&nbsp;
	<%= link_to(image_tag("HellasGrid.png", :style => "vertical-align: middle; border-style: solid; border-width: 2px"), "http://www.hellasgrid.gr") %>
</p>
<p align="center">
	<%= link_to(image_tag("grnet.gif", :style => "vertical-align: middle; border-style: solid; border-width: 2px"), "http://www.grnet.gr") %>
</p>
</body>
</html>
